{% extends "_layouts/base.html" %}

{% block title %}Movies | {{ block.super }}{% endblock title %}

{% block headline %}
    <h1>Фильмы</h1>
{% endblock headline %}

{% block content %}
    <p><b>Фильмы:</b>{% for letter in movie_letters %} <a href="{% url 'movies:movie_list' %}?letter={{ letter }}">{{ letter }}</a>{% endfor %}</p>

    <p><b>Персоны:</b>{% for letter in person_letters %} <a href="{% url 'movies:person_list' %}?letter={{ letter }}">{{ letter }}</a>{% endfor %}</p>

    <p><a href="{% url 'movies:year_list' %}">Годы</a> | <a href="{% url 'movies:genre_list' %}">Жанры</a> | <a href="{% url 'movies:tvshow_list' %}">Сериалы</a></p>

    <h3>Последние добавленные:</h3>
    {% for movie in last_movies %}
        <ul>
            <li><a href="{{ movie.get_absolute_url }}">{{ movie }}</a></li>
        </ul>
    {% endfor %}

    <br>

    <p>[<a href="{% url 'movies:movie_create' %}">Добавить новый фильм</a>]</p>
{% endblock content %}