{% extends "_layouts/base.html" %}

{% block title %}{{ object.name }} | Tung{% endblock title %}

{% block headline %}
    <h1>{{ object.name }}</h1>
{% endblock headline %}

{% block content %}
    
    <img src="{{ object.image_url }}" style="float:left; margin-right:20px">

    <p><b>Жанр:</b> {{ object.genre }}</p>

    <p>
        <b>Создатель:</b>
        {% for creator in object.creator.all %}
            <a href="{{ creator.get_absolute_url }}">{{ creator }}</a>{% if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
    </p>

    <br>

    {% for season in seasons %}
        <p><a href="{% url 'movies:tvshow_season_detail' object.pk season.number %}">Сезон {{ season.number }} ({{ season.year }})</a></p>
    {% endfor %}

    <br>

    <p>[<a href="{% url 'movies:tvshow_season_create' object.pk %}">Добавить сезон</a>]</p>
    <p>[<a href="{% url 'movies:tvshow_update' object.pk %}">Редактировать</a>]</p>
    <p>[<a href="{% url 'movies:tvshow_delete' object.pk %}">Удалить</a>]</p>

{% endblock content %}