{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'colls/css/style.css' %}">
    <title>{% block title %}Tung{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Tung</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if not user.is_authenticated %}
                <a href="{% url 'signup' %}" class="btn btn-default navbar-btn">Регистрация</a>
                <a href="{% url 'login' %}" class="btn btn-default navbar-btn">Вход</a>
            {% else %}
                <a href="{% url 'colls:index' %}" class="btn btn-primary navbar-btn">Коллекции</a>
                <a href="{% url 'movies:index' %}" class="btn btn-primary navbar-btn">Фильмы</a>
                <a href="{% url 'logout' %}"class="btn btn-default navbar-btn">Выход</a>
            {% endif %}    
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="jumbotron">
        <div class="container">{% block headline %}{% endblock headline %}</div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>